[submodule "themes/maupassant-hugo"]
	path = themes/maupassant-hugo
	url = https://github.com/shit-hub/maupassant-hugo.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/shit-hub/LoveIt.git
